$cardo: 'Cardo', serif;
$inter: 'Inter', sans-serif;
$white: #fff;
$black: rgb(0, 0, 0);
$light-black: #333;
$grey: #969AA0;
$light-grey: #919299;
$dark-grey: #222222;
$purple: #56597A;
$blue: #1B3764;
$light-blue: #B4C7E7;
$orange: #FFCA42;
$light-about-grey: #F5F8FC;
$light-blue-what-will: #F4F8FF;
$nav-white: #F6F8FC;